* {
    margin: 0;
    padding: 0;
}

.paper {
    width: 600px;
    height: 345px;
    margin: auto;
    background: linear-gradient(steelblue,skyblue);
    margin-top: 100px;
    padding-top: 30px;
    text-align: center;
    text-shadow: 2px 2px 8px black;
    box-shadow: 2px 2px 12px 2px #fff;
}

.search_weather {
    display: flex;
    justify-content: space-between;
}

.search_input {
    padding: 8px;
    border-radius: 4px;
    outline: none;
    margin: 0 10px 10px 45px;
}

.search_input:hover {
    box-shadow: 1px 1px 7px black;
}

.weather__temp {
    color: orange;
    font-size: 35px;
}

.settings_icon {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    cursor: pointer;
}

.welement {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.error_message {
    color: red;
    font-size: 22px;
    margin-right: 40px;
}

